// Cards

.card-product {
  overflow: hidden;
  width: 380px;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 12px;
}
.card-product .tab {
  height: 120px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product h3 {
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
  font-family: 'Alata', sans-serif;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 10px;
}



.card-product .card-product-infos {
  padding: 16px;
}
