.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.dropdown-item {
  font-size: 12px;
}

.dropdown-menu {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.dropdown-item:active {
  background-color: #f8f9fa !important;
}
