// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";


.simple_form {
  padding: 10px;
}

body {
  background-color: white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.sub-title {
  font-size: 28px;
  text-align: center;
  margin: 10px;
  color: rgba(0,0,0,0.6);
}

#orange-word {
    color: #fff;
    background: linear-gradient(90deg, #845ec2, #d65db1, #ff6f91, #ff9671, #ffc75f, #f9f871);
    background-size: 300%;
    background-position: left;
    background-clip: text;
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-bg-animation 10s infinite;
}

@keyframes text-bg-animation{
    0%{background-position:0% 87%}
    50%{background-position:100% 14%}
    100%{background-position:0% 87%}
}

.text-center .fas {
  color:#eb535b;
}

.sticky-top {
  z-index: 0;
  top: 10%;
}

.form.form-width {
  display: flex;
  justify-content: center;
}
